<mat-stepper>
  <mat-step label="expanded">
    <div [@.disabled]="disableAnimation">
      <mat-expansion-panel [expanded]="false">
        <mat-expansion-panel-header>
          Why am I expanded?
        </mat-expansion-panel-header>
        Some content. Some content. Some content. Some content. Some content.
        Some content. Some content. Some content.
      </mat-expansion-panel>
      <mat-expansion-panel [expanded]="false">
        <mat-expansion-panel-header>
          Why am I expanded?
        </mat-expansion-panel-header>
        Some content. Some content. Some content. Some content. Some content.
        Some content. Some content. Some content.
      </mat-expansion-panel>
      <mat-expansion-panel [expanded]="false">
        <mat-expansion-panel-header>
          Why am I expanded?
        </mat-expansion-panel-header>
        Some content. Some content. Some content. Some content. Some content.
        Some content. Some content. Some content.
      </mat-expansion-panel>
    </div>
  </mat-step>
</mat-stepper>
